<div fxFlex fxFlexOffset="20px" class="form-size">
  <h3>Send use your Feedback</h3>
  <h4>{{feedbackForm.value | json}}</h4>
  <form novalidate [formGroup]="feedbackForm" (submit)="onSubmit()">
    <p>
        <mat-form-field class="example-half-width">
            <input required name="firstname" matInput formControlName="firstname" placeholder="Username" >
          <mat-hint>
            <span [hidden]="!(feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched)">firstname is required</span>
          </mat-hint>
          </mat-form-field>
        <mat-form-field class="example-half-width">
            <input required name="lastname" matInput formControlName="lastname" placeholder="Username" >
        </mat-form-field>
        <mat-form-field class="example-half-width">
            <input required name="telnum" matInput formControlName="telnum" placeholder="Telephone Number" >
        </mat-form-field>
        <mat-form-field class="example-half-width">
            <input required name="email" matInput formControlName="email" placeholder="Email" type="email" >
        </mat-form-field>
    </p>
    <table class="form-size">

        <td>
          <mat-slide-toggle formControlName="agree">May we can contact you?</mat-slide-toggle>
      </td>
      <td>
          <mat-form-field>
        <mat-select placeholder="How?" formControlName="contacttype">
          <mat-option *ngFor="let ctype of contactType" [value]="ctype">
            {{ ctype }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </td>

    </table>
    <p>
      <mat-form-field>
        <textarea matInput formControlName="message" placeholder="your message" rows=12 ></textarea>
      </mat-form-field>
    </p>
    <button  mat-button type="submit" class="background-primary">submit</button>
  </form>
</div>